/* style.css for resume */
/* loosely based on https://davidpaulsson.github.io/no-class/ */

/* variables */
:root {
    --font-primary: system-ui, "Segoe UI", Roboto, Ubuntu, "Open Sans", "Helvetica Neue", sans-serif;
    --color-link: #457b9d;
    --color-visited: #1d3557;
    --color-red: #e63946;
    --color-bg: #fcfffe;
    --color-lightblue: #a8dadc;
}

/* base classes */
html {
    font-family: var(--font-primary);
    line-height: 1.15;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    padding: 0;
}

body {
    padding: 1rem;
    max-width: 85ch;
    margin: 0 auto;
}

p {font-size: 1rem;}

h1, h2, h3 {
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--color-visited);
}

h1 {font-size: 2.5rem;}
h2 {font-size: 2rem;}
h3 {font-size: 1.5rem;}

a {
    background-color: transparent;
    text-decoration: none;
    font-weight: 400;
    color: var(--color-link);
}

a:visited {color: var(--color-visited);}
a:hover {color: var(--color-red)}

/* customized classes */
.city_dates {
    font-style: italic;
    margin-bottom: -0.5rem;
}

/* h3 followed by a paragraph */
h3+p {
    margin-top: -0.75rem;
}

.city+ul {
    margin-top: -0.25rem;
    color: var(--color-visited); 
}

/* display 'skills' ul differently than 'factoids', which use defaults */
#ul_skills {
    list-style: none;
    padding: 0;
    margin: 0.25rem 0.25rem;
}

#ul_skills li {
    display: inline-block;
    margin-right: 0.5rem;
    padding: 0.25rem 0.5rem;
    background: var(--color-lightblue);
    border-radius: 5px;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 0.5rem;
}

#ul_skills li:last-child {
    margin-right: 0;
}

.footer {
    text-align: center;
    font-style: italic;
    color: var(--color-visited); 
}